<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem episodes</title>
</head>
<body>
    <h1>Listando episódios com Flask</h1>
    <div>
        <!-- para template com flask -->
        {% block content %}
            <div class="">
            <table>
                <tr>
                    <th>Nome do episódio</th>
                    <th>Air date (data de exibição)</th>
                    <th>Código</th>
                </tr>
                {% for episode in episodes %}
                    <tr>
                        <td>{{episode.name}}</td>
                        <td>{{episode.air_date}}</td>
                        <td>{{episode.episode}} (<a href="{{episode.id}}">Ver episódio</a>)</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        {% endblock %}
    </div>
</body>
<footer style="text-align: center;"> <br><br>
    <hr>
    2024 - curso promovido por Womarkers Code<br>
    Danieli do N. Dalla Vecchia 
    <hr>
</footer>
</html>