<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>API com Flask: desafio Rick and Morty</h1> 
    <p style="font-size: 20px;">Desafio desenvolvido por Danieli do N. Dalla Vecchia.</p>
    <p style="font-size: 30px;">Ver listagens:
    <ul>
        <li><a href="/characters" target="_blank">Personagens</a></li> 
        <li><a href="/locations" target="_blank">Localizações</a></li> 
        <li><a href="/episodes" target="_blank">Episódios</a></li> 
    </ul>
    </p>
    <br>
    <p style="font-size: 30px;">Ver JSON:
        <ul>
            <li><a href="/json_characters" target="_blank">JSON Personagens</a></li>
            <li><a href="/json_episodes" target="_blank">JSON Episódios</a></li>
            <li><a href="/json_locations" target="_blank">JSON Localizações</a></li>
        </ul>
    </p>
</body>
<footer style="text-align: center;"> <br><br>
    <hr>
    2024 - curso promovido por Womarkers Code<br>
    Danieli do N. Dalla Vecchia 
    <hr>
</footer>
</html>