<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem locations</title>
</head>
<body>
    <h1>Listando localizações com Flask</h1>
    <div>
        <!-- para template com flask -->
        {% block content %}

            {% for location in locations %}
                <div class="">
                    <p>Nome: {{location.name}} | Type: {{location.type}} | Dimension: {{location.dimension}}</p>
                </div>
            {% endfor %}

        {% endblock %}
    </div>

</body>
</html>