{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}

<!-- Arquivo com formulário de cadastro -->

  <h1 class="text-body-emphasis">Cursos online</h1>
  <!-- Criar uma validação com a variável 'sucesso'-->
  {% if sucesso %}
    <p class="alert alert-success">Cadastro efetuado com sucesso!</p>
  {% else %}
    <!-- Form 'comprimido' pelo django, sendo que o html serve apenas para renderizar -->
    <form action="" method="POST" id="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">Finalizar cadastro</button>
    </form>
  {% endif %}
{% endblock %}